{% extends "components/_modal.njk" %}

{% block content %}
<div class="max-w-lg px-6 py-8 space-y-6 md:px-8 md:py-12 md:space-y-8">
    <header>
        <h2 class="text-xl font-extrabold leading-tight text-center uppercase font-display md:text-3xl">About this website</h2>
    </header>
    <main class="space-y-6 text-xl tracking-wide leading-comfy sm:text-2xl">
        <p>
        <b>“Who’s Next?”</b> is  ACTIVATE:CHI’s initiative to increase voter turnout in Chicago.  We want people to choose at the ballot box who’s next to make a change in their community, in Chicago, and in the nation!
        </p>
        <p>
        This website is part of that campaign, to encourage people to share their reason for voting in the 2020 Presidential election. In an election where there are so many reasons to participate, we believe it's important for voters to think about what they want from a President, and inspire others to engage in the process.
        </p>
        <p>
            All of the reasons listed come straight from the Joe Biden campaign platform. Of the current main party presidential candidates, we believe their agenda is the most likely to bring about justice, and thus are encouraging the sharing of their policy positions that would do so. 
        </p>
        <p>
            This website was designed and coded by <a class="underline" target="_blank" href="https://stephenbarkan.com">Stephen Barkan</a>
        </p>
    </main>
</div>
{% endblock %}