

<footer class="bottom-0 left-0 w-full lg:fixed bg-yellow"
    x-data="{modalOpen: false}"
    style="background-image: url(/assets/film-grain.png); background-size: 500px; backround-repeat: repeat;">
    <div class="container flex items-center justify-between py-3 text-xl font-bold leading-none border-t-2 sm:text-2xl border-gray">
        <ul class="flex space-x-6">
            <li><a class="hover:underline" href="/">Home</a></li>
            <li><button class="font-bold hover:underline" @click="modalOpen=true">
                About<span class="hidden md:inline"> this website</span>
            </button></li>
        </ul>
        <div class="flex items-center space-x-2">
            <span class="hidden md:inline-block">A project by </span> <a href="https://activate-chi.net" class="flex-1 w-32 border-b-2 border-yellow hover:border-gray sm:w-40">{% include "img/activate-chi-logo.svg" %}</a>
        </div>
    </div>
            {% include "components/_about-modal.njk" %}
    <div class="origin-center sr-only animate-spin"></div>
</footer>