{% macro gallery(category) %}

<div
    x-data="{isOpen: false}"
    class="relative grid gap-24 lg:grid-cols-2">
    <div class="grid gap-3 lg:pt-12 md:gap-3 lg:gap-0">
        {% for item in category %}
            <button
                @click="isOpen=true"
                data-button
                class="relative block rounded-lg lg:py-2 first:pt-0 last:pb-0 group"
                data-filename="{{item.Filename}}">
                <span class="flex p-6 transform bg-white rounded-lg shadow-md border-1-5 border-gray lg:p-10 xl:px-12 lg:border-2">
                    <span class="max-w-xl text-xl leading-tight text-left md:text-3xl tracking-narrow">{{item.Reason}}</span>
                    </span>

                    <span class="absolute top-0 left-0 hidden w-32 transform lg:block -translate-x-50 -translate-y-25">
                        <span class="hidden animate-slam group-hover:block">{% include "img/pick-me.svg" %}</span>
                    </span>
            </button>
        {% endfor %}
    </div>
    <div 
        x-show="isOpen"
        x-transition:enter="transition ease-in duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed top-0 left-0 right-0 flex flex-col items-center justify-center h-screen space-y-12 bg-opacity-75 pointer-events-none bg-blur lg:bg-opacity-0 lg:self-start lg:h-auto bg-gray lg:sticky">
            
        <div class="container flex flex-col items-center space-y-6 lg:px-0 lg:pt-12">
            <div class="max-w-md p-4 overflow-hidden bg-white rounded-sm shadow-lg border-1-5 lg:border-2 text-gray group border-grayspace-y-3 grid-inset-0">
                <figure class="bg-no-repeat bg-contain"
                    style="background-image: url(../gallery/IG-why-vote-blank.jpg);">
                    <img data-image
                    src="../gallery/IG-why-vote-blank.jpg"
                    alt="I vote because {{ reason }}"
                    class="transition-opacity duration-300 ease-in-out transform"
                    />
                </figure>
            </div>
            <h2 class="text-2xl font-extrabold leading-tight tracking-tight text-center text-white uppercase font-display lg:text-gray">
                Share your reason for voting on social:
            </h2>
            <ul class="grid w-full grid-cols-3 gap-3 pointer-events-auto lg:gap-4">
                <li class="flex flex-col">
                    <a data-twitter-link
                        title="Post image to Twitter"
                        class="flex flex-col items-center justify-center px-12 py-4 space-y-2 text-center transform bg-white rounded-full shadow-md hover:rotate-3 border-1-5 lg:border-2 text-gray"
                        href=""
                        target="_blank">
                        <span class="block w-8 h-8">{%include "img/twitter.svg" %}</span>
                        <span class="text-xl font-bold leading-none sr-only">Twitter</span>
                    </a>
                </li>
                <li class="flex flex-col">
                    <a data-facebook-link
                        title="Post image to Facebook"
                        class="flex flex-col items-center justify-center px-12 py-4 space-y-2 text-center transform bg-white rounded-full shadow-md hover:rotate-3 border-1-5 lg:border-2 text-gray"
                        href=""
                        target="_blank">
                        <span class="block w-8 h-8">{%include "img/facebook.svg" %}</span>
                        <span class="text-xl font-bold leading-none sr-only">Facebook</span>

                    </a>
                </li>
                <li class="flex flex-col">
                    <h3 class="sr-only">Download image</h3>
                    <a data-download-link
                        title="Download image"
                        class="flex flex-col items-center justify-center px-12 py-4 space-y-2 text-center transform bg-white rounded-full shadow-md hover:rotate-3 border-1-5 lg:border-2 text-gray"
                        href=""
                        download>
                        <span class="block w-8 h-8">{%include "img/download.svg" %}</span>
                        <span class="text-xl font-bold leading-none sr-only">Download</span>
                    </a>
                </li>
            </ul>
        </div>
        <button
            @click="isOpen=false"
            class="flex items-center justify-center px-4 py-4 mt-4 mr-4 space-x-1 transform bg-white rounded-full shadow-md pointer-events-auto hover:rotate-3 border-1-5 border-gray">
            <span class="block w-6 h-6 text-gray">{% include "img/close.svg" %}</span>
            <span class="text-xl font-bold leading-none">Return to choices</span>
        </button>
    </div>
</div>

{% endmacro %} 