{% import "components/_image.njk" as image %}


{% macro gallery(category) %}
<div x-data="{isOpen: false}"
    :class="{'overflow-hidden': !isOpen }">
    <div class="relative grid transition-transform duration-300 ease-out lg:transform lg:grid-cols-2"
        :class="{'lg:translate-x-25 duration-0': !isOpen }">
        <div class="grid gap-3 lg:pt-12 md:gap-3 lg:gap-4"
            :class="{'pointer-events-none lg:pointer-events-auto': isOpen}">
            {% for item in category %}
                {% include "components/_reason-button.njk" %}
            {% endfor %}
        </div>
        
        {{ image.image(true) }}
    </div>
</div>
{% endmacro %} 