<header class="flex flex-col items-center justify-center w-full max-w-xl space-y-12 text-center lg:max-w-none text-gray lg:text-left lg:items-start">

        <div class="block w-full lg:-mx-4">
            <h1 class="sr-only">Why are you voting this year?</h1>
            {% include "img/heading.svg"%}
        </div>

        <p class="max-w-3xl text-2xl font-bold leading-tight md:text-3xl lg:text-4xl xl:text-5xl">Choose the most important issue to you this year<span class="inline lg:hidden">:</span>
            <span class="hidden transform translate-y-1 lg:inline-block">⟶ ⟶ ⟶</span>
        </p>
    
</header>