<header class="space-y-12">
    <div class="max-w-xs mx-auto">
        <a
            href="https://www.activate-chi.net/initiatives/whos-next-voter-initiatve"
            class="block group"
            target="_blank"
        >
            <span class="transform block -rotate-3 group-hover:rotate-3">{% include "img/logo.svg" %}</span> 
        </a>
    </div> 

    <div class="px-4 text-gray text-center space-y-4 container">
        <h1 class="hidden sm:block font-extrabold font-display uppercase text-white text-stroke tracking-tight leading-none text-6xl lg:text-7xl">
            <span class="text-blue">Why are you</span>
            <span class="text-red">voting</span>
            <span>this year?</span>
        </h1>

        <div class="block sm:hidden max-w-sm mx-auto">
            <h1 class="sr-only">Why are you voting this year?</h1>
            {% include "img/heading.svg"%}
        </div>

        <p class="text-2xl lg:text-3xl leading-none">Choose your reason and tap to share it on your social media:</p>
    </div>
</header>