<header class="flex flex-col items-center justify-center w-full max-w-xl space-y-10 text-center lg:max-w-none text-gray lg:text-left lg:items-start">

        <div class="block w-full max-w-md lg:max-w-xl lg:-mx-4">
            <h1 class="sr-only">Why are you voting this year?</h1>
            {% include "img/heading.svg"%}
        </div>

        <p class="max-w-lg text-2xl font-bold leading-snug md:text-3xl lg:text-4xl">Share what you're voting for. Show your friends how, through voting, we can promote justice! <span class="inline lg:hidden">:</span></p>
    
</header>