<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>
  <meta name="description"
        content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">


  <meta property="og:title" content="Your Title"/>

  <meta property="og:description" content="A full description of the page."/>

  <meta property="og:image" content="
      {% if meta_image %}
        {{ meta_image }}
      {% else %}
        ../img/og-image.png
      {% endif %} 
  "/>


  {% if helpers.environment == "development" %}
  <link rel="stylesheet" href="/css/main.css">
  {% else %}
  {# else, use the minified css file for production #}
  <link rel="stylesheet" href="/css/main.min.css">
  {% endif %}

  {% if helpers.environment == "development" %}
  <script src="/js/main.js" defer></script>
  {% else %}
  <script src="/js/main.min.js" defer></script>
  {% endif %}

  {# include social meta tags #}
  {% include "components/_social-meta.njk" %}

  {# lastly include favicon, fonts, etc #}
  <link rel="icon" type="image/png" href="{{ site.images.favicon }}">
  <link rel="stylesheet" href="https://use.typekit.net/qun7kft.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


</head>

<body data-permalink="{{site.permalink}}" class="min-h-screen antialiased leading-normal font-text text-gray text-default bg-yellow"
style="background-image: url(../assets/film-grain.png); background-size: 500px; backround-repeat: repeat;"> 