{% macro image(filename, reason, url) %}
{# the component #}
<div class="grid p-4 bg-white border-2 rounded-sm shadow-lg text-gray grid-absolute group border-gray">

{# the image #}
    <figure class="space-y-3 overflow-hidden rounded-sm grid-inset-0">
        <img
            src="../gallery/{{ filename }}.jpg"
            alt="I vote because {{ reason }}"
        />
    </figure>

{# the sharing contents #}
    <div class="flex flex-col items-center justify-center invisible p-6 space-y-12 text-white transition-all duration-300 bg-opacity-50 opacity-0 bg-gray bg-blur group-hover:opacity-100 group-hover:visible grid-inset-0">
        <h2 class="text-2xl leading-tight tracking-wide text-center uppercase">
          Share your reason for voting on social:
        </h2>

        <ul class="flex space-x-6">
            <li class="flex flex-col">
                <h3 class="sr-only">Share image on Twitter</h3>
                <a
                    title="Post image to Twitter"
                    class="w-16 h-16 p-4 transition-transform duration-150 transform bg-white rounded-full hover:shadow-lg text-gray hover:scale-105"
                    href="https://twitter.com/home?status={{ site.permalink }}{{ url }}">
                    <div class="w-full h-full">{%include "img/twitter.svg" %}</div>
                </a>
            </li>
            <li class="flex flex-col">
                <h3 class="sr-only">Share image on Facebook</h3>
                <a
                    title="Post image to Facebook"
                    class="w-16 h-16 p-4 transition-transform duration-150 transform bg-white rounded-full hover:shadow-lg text-gray hover:scale-105"
                    href="https://www.facebook.com/sharer/sharer.php?u={{site.permalink}}{{ url }}">
                     <div class="w-full h-full">{%include "img/facebook.svg" %}</div>
                </a>
            </li>
            <li class="flex flex-col">
                <h3 class="sr-only">Download image</h3>
                <a
                    title="Download image"
                    class="w-16 h-16 p-4 transition-transform duration-150 transform bg-white rounded-full hover:shadow-lg text-gray hover:scale-105"
                    href="/gallery/{{ filename }}.jpg"
                    download>
                    <div class="w-full h-full">{%include "img/download.svg" %}</div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endmacro %}