    <div class="w-xs group p-2">
        <a
            href="/"
            class="block"
        >
            <span class="transform block -rotate-3 shadow-md group-hover:rotate-3">{% include "img/logo.svg" %}</span> 
        </a>
    </div> 