    <div class="w-64 py-2 md:w-xs group">
        <a
            href="/"
            class="block"
        >
            <span class="block transform shadow-md -rotate-3 group-hover:rotate-3">{% include "img/logo.svg" %}</span> 
        </a>
    </div> 