<button
    id="{{item.Filename}}"
    @click="isOpen=true"
    data-button
    class="relative block rounded-lg last:pb-0 group focus:underline "
    data-filename="{{item.Filename}}"
    style="scroll-margin: 3rem">
    <span class="flex justify-center p-6 transform bg-white rounded-lg shadow-md group-hover:shadow-xl border-1-5 hover:-translate-y-1 border-gray lg:p-10 xl:px-12 lg:border-2">
        <span class="max-w-xl text-xl leading-snug sm:text-2xl md:text-3xl tracking-narrow">{{item.Reason}}</span>
        </span>

        <span class="absolute top-0 left-0 hidden w-40 transform -rotate-15 lg:block -translate-x-50 -translate-y-25">
            <span data-badge class="hidden animate-slam"
                style="filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))">
                {% include "img/pick-me.svg" %}
            </span>
        </span>
</button>