---
layout: default
title: Home
share_image: share-image.jpg
---

{% import "components/_collection-link.njk" as collectionLink %}

<div class="container relative grid grid-cols-1 row-gap-12 col-gap-24 py-12 lg:py-0 lg:grid-cols-7">

    <div class="top-0 flex flex-col items-center self-start justify-center space-y-12 lg:col-span-4 lg:sticky lg:py-12 lg:items-start">
        {% include "components/_nav-logo.njk" %}
        {% include "components/_home-header.njk" %}
    </div>

    <main class="lg:col-span-3 lg:space-y-12 lg:py-12">
        <div class="invisible hidden lg:block">
            {% include "components/_nav-logo.njk" %}
        </div>

        <div
            x-data="{modalOpen : false}"
            class="grid grid-cols-1 gap-3 lg:grid-cols-1 md:gap-4 lg:gap-0 md:grid-cols-2">
            {% for category in categories %}
                {{ collectionLink.collectionLink(category) }}
            {% endfor %}
            <button
                data-all-above-link
                @click="modalOpen = true"
                class="transform rounded-lg hover:rotate-3">
                <div class="pointer-events-none">
                    {{ collectionLink.collectionLink("Honestly, all of them!") }}
                </div>
            </button>

            {% include "components/_all-of-the-above-modal.njk" %}

        </div>
    </main>
</div>  



