---
layout: default
permalink: "{{ category | slug }}/"
pagination:
    data: categories
    size: 1
    alias: category
---


<div class="container my-12 space-y-6 lg:space-y-12">

        <header class="space-y-12">
            <div class="flex justify-center lg:justify-start">
                {% include "components/_nav-logo.njk" %}
            </div>
            <h1 class="text-5xl leading-none text-center text-white uppercase lg:text-left font-display text-stroke sm:text-6xl lg:text-7xl">
                <span class="font-extrabold tracking-tight">I <span class="text-red">vote</span> for</span>
                <span class="block text-5xl font-bold text-blue font-text sm:text-7xl lg:text-8xl">{{category | replace("_", " ") }}!</span>
            </h1>
        </header>
        
        <p class="max-w-3xl text-3xl font-bold leading-tight text-center lg:text-left md:text-3xl lg:text-4xl xl:text-5xl">I want a President who will:</p>


        {{ content | safe }}

</div>