---
layout: default
permalink: "{{ category | slug }}/"
pagination:
    data: categories
    size: 1
    alias: category
assd: {{category}}
---


<div class="container my-12 space-y-12">

    {% include "components/_nav-logo.njk" %}
        <h1 class="text-4xl leading-none text-center text-white uppercase lg:text-left font-display text-stroke sm:text-5xl lg:text-6xl xl:text-7xl">
            <span class="font-extrabold tracking-tight">I'm <span class="text-red">voting</span> for</span>
            <span class="block text-5xl font-bold text-blue font-text sm:text-6xl lg:text-7xl xl:text-8xl">{{category | replace("_", " ") }}!</span>
        </h1>


        {{ content | safe }}

</div>